<div class="container-fluid">
  <div class="row form-group">
    <div id="page-title" class="col-sm-6">
      <h2>Pesquisar Turmas</h2>
    </div>
    <div class="col-sm-6 text-right">
      <a routerLink="manter" class="btn btn-primary btn-keep">Incluir Turma</a>
    </div>
  </div>

  <form class="filter" (ngSubmit)="search()" #classForm="ngForm">
    <div class="internal-content">
      <span class="filter-label row form-group col-md-12">Filtro(s) de Pesquisa</span>
      <div class="row form-group">
        <div class="col-sm-2">
          <label class="control-label" for="initials">Sigla</label>
          <input type="text" class="form-control" id="initials" name="initials" maxlength="5" [(ngModel)]="filter.sigla">
        </div>
        <div class="col-sm-2">
          <label class="control-label" for="period">Semestre</label>
          <select id="period" name="period" class="form-control" [(ngModel)]="filter.semestre">
            <option value=""></option>
            <option *ngFor='let period of periodList' [value]="period.id">{{period.label}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <label class="control-label" for="age">Ano</label>
          <select id="age" name="age" class="form-control" [(ngModel)]="filter.ano">
            <option value=""></option>
            <option *ngFor='let age of ageList' [value]="age.id">{{age.label}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label class="control-label" for="course">Curso</label>
          <select id="course" name="course" class="form-control" [(ngModel)]="filter.curso.id">
            <option value=""></option>
            <option *ngFor='let course of courseList' [value]="course.id">{{course.nome}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="filter-buttons row">
      <div class="col-sm-6">
        <button type="button" class="btn btn-light" (click)="goBack()">Voltar</button>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-primary" (click)="classForm.reset()">Limpar</button>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </div>
    </div>
  </form>

  <div class="result-table" *ngIf="classList.length > 0">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="w-20" scope="col">Sigla</th>
          <th class="w-60" scope="col">Semestre</th>
          <th class="w-20" scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="classList.length === 0">
          <td class="text-center" colspan="3">A pesquisa não retornou registro(s).</td>
        </tr>
        <tr *ngFor='let class of classList | paginate: { itemsPerPage: PAGINATION.itemsPerPage, currentPage: p, totalItems: classList.length }'>
          <td>{{class.sigla}}</td>
          <td>{{class.ano}}.{{class.semestre}}</td>
          <td class="actions">
            <a [routerLink]="['detalhes/', class.id]" class="fa fa-info-circle" placement="bottom" ngbTooltip="Detalhes da Turma"></a>
            <a [routerLink]="['manter/', class.id]" class="fas fa-edit" placement="bottom" ngbTooltip="Alterar"></a>
            <a [routerLink]="['excluir/', class.id]" class="fa fa-trash" placement="bottom" ngbTooltip="Excluir"></a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls autoHide="true" class="text-center" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próxima"></pagination-controls>
  </div>
</div>