<div class="container-fluid">
  <div class="row form-group">
    <div id="page-title" class="col-sm-12">
      <h2>{{title}}</h2>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #classroomForm="ngForm">
    <!-- row 1 -->
    <div class="row form-group">
      <div class="col-sm-2">
        <label class="control-label" for="initials">Hora Inicio</label>
        <input type="text" class="form-control" id="initials" name="initials" maxlength="4">
      </div>
      <div class="col-sm-2">
        <label class="control-label" for="initials">Hora Fim</label>
        <input type="text" class="form-control" id="initials" name="initials" maxlength="4">
      </div>
      <div class="col-sm-2">
        <label class="control-label" for="period">Semestre</label>
        <select id="period" name="period" class="form-control" disabled>
          <option value="1">1</option>
        </select>
      </div>
      <div class="col-sm-2">
        <label class="control-label" for="age">Ano</label>
        <select id="age" name="age" class="form-control" disabled>
          <option value="2018">2018</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label class="control-label" for="course">Curso</label>
        <select id="course" name="course" class="form-control">
          <option value="">Selecione o Curso...</option>
          <option value="12">Sistemas de Informação</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label class="control-label" for="course">Disciplina</label>
        <select id="course" name="course" class="form-control">
          <option value="">Selecione a Disciplina...</option>
          <option value="12">Laboratório de Software</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label class="control-label" for="course">Professor</label>
        <select id="course" name="course" class="form-control">
          <option value="">Selecione o Professor...</option>
          <option value="12">André</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label class="control-label" for="course">Turma(s)</label>
        <dual-list [source]="source" [(destination)]="confirmed"></dual-list>
      </div>
    </div>
    <div class="form-group clearfix" class="required-filter row form-group">
      <div class="col-sm-12 subtitles">
        <em>* Campo Obrigatório</em>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-6">
        <button type="button" class="btn btn-light" (click)="goBack()">Voltar</button>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-primary" (click)="classroomForm.reset()">Limpar</button>
        <button type="submit" class="btn btn-primary">{{labelBtn}}</button>
      </div>
    </div>
  </form>
</div>