<div class="container-fluid">
  <div class="row form-group">
    <div id="page-title" class="col-sm-12">
      <h2>{{title}}</h2>
    </div>
  </div>
  <div class="details form-group">
    <!-- row 1 -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label class="control-label bold">Dia da Semana: </label>
        <span>{{classroom.dia}}</span>
      </div>
      <div class="col-sm-2">
        <label class="control-label bold">Hora Início: </label>
        <span>{{classroom.horaAbertura}}</span>
      </div>
      <div class="col-sm-2">
        <label class="control-label bold">Hora Fim: </label>
        <span>{{classroom.horaFechamento}}</span>
      </div>
      <div class="col-sm-2">
        <label class="control-label bold">Semestre: </label>
        <span>{{classroom.ano}}.{{classroom.semestre}}</span>
      </div>
      <div class="col-sm-3">
        <label class="control-label bold">Curso: </label>
        <span>{{classroom.curso.nome}}</span>
      </div>
    </div>
    <!-- row 2 -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label class="control-label bold">Disciplina: </label>
        <span>{{classroom.disciplina.nome}}</span>
      </div>
      <div class="col-sm-3">
        <label class="control-label bold">Professor: </label>
        <span>{{classroom.professor.nome}}</span>
      </div>
      <div class="col-sm-3">
        <label class="control-label bold">Turno: </label>
        <span>{{classroom.turno}}</span>
      </div>
    </div>
    <!-- row 3 -->
    <div class="row form-group">
      <div class="col-sm-12">
        <label class="control-label bold">Turma(s): </label>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Sigla</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let turma of classroom.turmas'>
              <td>{{turma.sigla}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-6">
      <button type="button" class="btn btn-light" (click)="goBack()">Voltar</button>
    </div>
    <div class="col-sm-6 text-right">
      <button *ngIf="excluir" type="submit" class="btn btn-primary" (click)="delete()">Excluir</button>
    </div>
  </div>
</div>