<div *ngIf="currentUser.perfil == 'PROFESSOR'" class="container-fluid">
    <div class="row form-group">
        <div id="page-title" class="col-sm-6">
            <h2>Dashboard</h2>
        </div>
    </div>
    {{currentUser | json}}
    <div class="row form-group">
        <div class="col-sm-12">
            <i class="fas fa-info-circle" style="color:#0f70ca;"></i>
            <b>Para realizar a chamada, clique na disciplina desejada.</b>
        </div>
    </div>
    <div *ngFor="let row of rows" class="card-group row col-sm-12 form-group">
        <div *ngFor="let classroom of classroomList" class="card col-sm-4">
            <div class="card-body">
                <h5 class="card-title">{{classroom.disciplina.nome}}</h5>
                <p class="card-text">{{classroom.descricaoDia}} - {{classroom.horaAbertura}}h as {{classroom.horaFechamento}}h</p>
                <a [routerLink]="['chamada/', classroom.id]" class="btn btn-primary">Efetuar Chamada</a>
            </div>
        </div>
    </div>
    <div *ngIf="rows.length == 0" class="row form-group col-sm-12">
        <div class="alert alert-warning w-100" role="alert">
            <i class="fas fa-exclamation-triangle" style="color: #928443;"></i> {{alertMessage}}</div>
    </div>
</div>