<div class="container-fluid">
    <div class="row form-group">
        <div id="page-title" class="col-sm-6">
            <h2>Dashboard</h2>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12">
            <i class="fas fa-info-circle" style="color:#0f70ca;"></i>
            <b>Para realizar a chamada, clique na turma desejada.</b>
        </div>
    </div>
    <div class="card-group row col-sm-12 form-group">
        <div class="card col-sm-4">
            <div class="card-body">
                <h5 class="card-title">Laboratório de Software</h5>
                <p class="card-text">Segunda-Feira - 19:00h as 20:15h</p>
                <a href="#" class="btn btn-primary">Efetuar Chamada</a>
            </div>
        </div>
        <div class="card col-sm-4">
            <div class="card-body">
                <h5 class="card-title">Laboratório de Software</h5>
                <p class="card-text">Segunda-Feira - 20:30h as 21:50h</p>
                <a href="#" class="btn btn-primary">Efetuar Chamada</a>
            </div>
        </div>
        <div class="card col-sm-4">
            <div class="card-body">
                <h5 class="card-title">Engenharia de Software</h5>
                <p class="card-text">Quinta-Feira - 19:00h as 20:15h</p>
                <a href="#" class="btn btn-primary">Efetuar Chamada</a>
            </div>
        </div>
    </div>
    <div class="card-group row col-sm-12 form-group">
        <div class="card col-sm-4">
            <div class="card-body">
                <h5 class="card-title">Engenharia de Software</h5>
                <p class="card-text">Quinta-Feira - 20:30h as 21:50h</p>
                <a href="#" class="btn btn-primary">Efetuar Chamada</a>
            </div>
        </div>
    </div>
</div>