<div *ngIf="classroom" class="container-fluid">
  <div class="row form-group">
    <div id="page-title" class="col-sm-12">
      <h2>{{title}}</h2>
    </div>
  </div>
  <form #courseForm="ngForm" *ngIf="!actRegister">
    <div class="row form-group">
      <div class="col-sm-12">
        <ul id="attendance-opt">
          <li>
            <button [disabled]="state.id != 'P'" class="btn btn-secondary" type="button" (click)="open();">Abrir Aula</button>
          </li>
          <li>
            <button [disabled]="state.id != 'A'" class="btn btn-secondary" type="button" (click)="register();">Registrar Aula</button>
          </li>
          <li>
            <button [disabled]="state.id != 'R'" class="btn btn-secondary" type="button" (click)="close();">Fechar Aula</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-6">
        <label>
          <b>Turma(s)</b>
        </label>
        <ul class="list-group">
          <li *ngFor="let class of classroom.turmas" class="list-group-item">
            <span>[{{class.sigla}} - {{classroom.disciplina.nome}}]</span>
          </li>
        </ul>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <label>
          <b>Aula</b>
        </label>
        <div class="class">
          <div class="form-group">
            <label>Status: </label>
            <span [ngStyle]="{ 'color': state.color }" style="font-weight: bold">{{state.value}}</span>
          </div>
          <div class="form-group">
            <label>Horário: </label>
            <span>{{classroom.horaAbertura}}h a {{classroom.horaFechamento}}h</span>
          </div>
          <div class="form-group">
            <label>Professor: </label>
            <span>{{currentUser.nome}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12">
        <i class="fas fa-exclamation-triangle" style="color: #ffb200;"></i>
        <span>
          <b>ATENÇÃO! Marque apenas os alunos que receberão falta. Ao concluir a chamada, não esqueça de registrar e fechar
            a aula.</b>
        </span>
      </div>
    </div>
    <!-- Students -->
    <div class="row form-group">
      <div class="col-sm-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Matrícula</th>
              <th scope="col">Aluno</th>
              <th scope="col">Turma</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let student of studentList; let i = index'>
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" id="customCheck{{i}}" name="student{{i}}" class="custom-control-input" [(ngModel)]="student.presenca"
                    [disabled]="state.id == 'P'">
                  <label class="custom-control-label" for="customCheck{{i}}"></label>
                </div>
              </td>
              <td>{{student.matricula}}</td>
              <td>{{student.nome}}</td>
              <td>[{{student.turma.sigla}}]</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-12 text-right">
        <em>Total de Alunos: {{studentList.length}}</em>
      </div>
    </div>
  </form>
  <form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm" *ngIf="actRegister">
    <div class="row form-group">
      <div class="col-sm-6">
        <label class="control-label" for="occurrence">Ocorrências*</label>
        <textarea class="form-control" id="occurrence" name="occurrence" rows="4" [(ngModel)]="attendance.registro" maxlength="255"
          required></textarea>
      </div>
    </div>
    <div class="form-group clearfix" class="required-filter row form-group">
      <div class="col-sm-12 subtitles">
        <em>* Campo Obrigatório</em>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-6 text-right">
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
    </div>
  </form>
</div>