<div id="main-title">
  <h1>CADEL - Sistema de Caderneta Eletrônica</h1>
</div>

<div id="user" *ngIf="currentUser">
  <div class="container-fluid">
    <div class="col-sm-12 text-right">
      <a id="logout" (click)="logout()">
        <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Sair do Sistema
      </a>
    </div>
  </div>
</div>

<div id="menu" *ngIf="currentUser">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Página Inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/curso">Manter Curso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aluno">Manter Aluno</a>
      </li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <alert></alert>
  <router-outlet></router-outlet>
</div>