<div class="container-fluid">
  <div class="row form-group">
    <div id="page-title" class="col-sm-12">
      <h2>Detalhes do Curso</h2>
    </div>
  </div>
  <div class="details row form-group">
    <div class="col-sm-6">
      <label class="control-label bold">Nome: </label>
      <span>{{course.name}}</span>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-6">
      <button type="button" class="btn btn-light" (click)="voltar()">Voltar</button>
    </div>
  </div>
</div>