<div class="container-fluid">
  <div class="row form-group">
    <div id="page-title" class="col-sm-12">
      <h2>{{title}}</h2>
    </div>
  </div>
  <div class="details form-group">
    <div class="col-sm-6">
      <label class="control-label bold">Nome: </label>
      <span>{{course.name}}</span>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-6">
      <button type="button" class="btn btn-light" (click)="voltar()">Voltar</button>
    </div>
    <div class="col-sm-6 text-right">
      <button *ngIf="excluir" type="submit" class="btn btn-primary">Excluir</button>
    </div>
  </div>
</div>