<div class="container-fluid">
  <div class="row form-group">
    <div id="page-title" class="col-sm-12">
      <h2>{{title}}</h2>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #teacherForm="ngForm">
    <!-- row 1 -->
    <div class="row form-group">
      <div class="col-sm-2">
        <label class="control-label" for="registration">Matrícula*</label>
        <input mask-number [mask]="'9999999999'" [reqMin]="'1'" type="text" class="form-control" id="registration" name="registration"
          [(ngModel)]="teacher.matricula" maxlength="10" required>
      </div>
      <div class="col-sm-3">
        <label class="control-label" for="documento">CPF*</label>
        <input mask-number [mask]="'999.999.999-99'" type="text" class="form-control" id="document" name="document" [(ngModel)]="teacher.cpf"
          maxlength="14" required>
      </div>
      <div class="col-sm-6">
        <label class="control-label" for="name">Nome*</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="teacher.nome" maxlength="100" required>
      </div>
    </div>
    <!-- row 2 -->
    <div class="row form-group">
      <div class="col-sm-4">
        <label class="control-label" for="email">E-mail*</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="teacher.email" maxlength="100" required>
      </div>
      <div class="col-sm-3">
        <label class="control-label" for="gender">Gênero*</label>
        <div>
          <div class="radio-inline" *ngFor="let gender of genderList">
            <input type="radio" id="{{gender.id}}" name="gender" [(ngModel)]="teacher.sexo" [value]="gender.id" required>
            <label for="{{gender.id}}">{{gender.description}}</label>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <label class="control-label" for="course">Curso*</label>
        <select id="course" name="course" class="form-control" [(ngModel)]="teacher.curso.id" (change)="onChangeCourse();" required>
          <option value=""></option>
          <option *ngFor='let course of courseList' [value]="course.id">{{course.nome}}</option>
        </select>
      </div>
    </div>
    <!-- row 3 -->
    <div class="row form-group">
      <div class="col-sm-9">
        <label class="control-label" for="subject">Disciplina(s)*</label>
        <dual-list [source]="subjectList" [(destination)]="teacher.disciplinas" key="id" display="nome" [format]="{ add: 'Adicionar', remove: 'Remover', all: 'Marcar Todos', none: 'Desmarcar Todos', direction: 'left-to-right', draggable: true, locale: undefined }"></dual-list>
      </div>
    </div>
    <div class="form-group clearfix" class="required-filter row form-group">
      <div class="col-sm-12 subtitles">
        <em>* Campo Obrigatório</em>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-6">
        <button type="button" class="btn btn-light" (click)="goBack()">Voltar</button>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-primary" (click)="teacherForm.reset()">Limpar</button>
        <button type="submit" class="btn btn-primary">{{labelBtn}}</button>
      </div>
    </div>
  </form>
</div>