@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
}

/* HEAD */

#main-title {
    background-color: #fff;
    padding: 0 15px;
}

#main-title h1 {
    font-size: 15px;
    text-align: center;
    margin: 0;
    width: 100%;
}

#main-title img {
    width: 220px;
}

/* MENU */

#menu {
    border-top: 1px #eeeeee solid;
    border-bottom: 1px #eeeeee solid;
    background-color: #ffffff;
    margin-bottom: 50px;
}

#menu .nav a.nav-link {
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    font-weight: 400;
    padding: 0 15px;
    color: #000;
}

#menu .nav a.nav-link:hover,
#user:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

#user {
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
}

/* LOGIN */

#login {
    background-color: #fff;
    border: 1px #ecf0f1 solid;
    margin: 100px auto 0;
    padding: 30px;
    width: 45%;
}

#login button {
    background-color: #04a2b3;
    border-color: #04a2b3;
    width: 100%;
}

#login button:hover {
    background-color: #026d79;
}

/* FILTER */

.filter {
    padding: 20px;
    border: 1px #ecf0f1 solid;
    border-radius: 5px;
    margin: 0 0 50px;
}

.filter .internal-content {
    margin-bottom: 30px;
}

.filter .filter-label {
    color: #828282;
    font-size: 13px;
    font-style: italic;
}

/* GENERAL */

.clear-padding-left {
    padding-left: 0 !important;
}

.clear-padding-right {
    padding-right: 0 !important;
}

.result-table {
    background-color: #fff;
    margin: 40px 0 0;
}

.bold {
    font-weight: bold;
}

.actions {
    font-size: 1.5em;
    text-align: right;
}

.details {
    border: 1px #ecf0f1 solid;
    padding: 10px;
    border-radius: 7px;
}

.has-error {
    border: 1px #ce1313 solid;
}

.help-block {
    color: #ce1313;
}

.btn-keep {
    color: #ffffff !important;
}

.subtitles {
    font-size: 12px;
}

.radio-inline {
    float: left;
    margin: .5rem;
}

.radio-inline:last-child {
    margin-right: 0;
}
  
.radio-inline label {
    font-weight: normal;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
    background-color: #6c5ce7;
    border-color: #6c5ce7;
}

.btn.focus,
.btn:focus,
.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

.loading {
    position: fixed;
    background: #fff url('assets/images/loading.gif') center 10px no-repeat;
    width: 200px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -60px;
    border-radius: 5px;
    z-index: 3;
}

.loading-body {
    display: block;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    opacity: 0.3;
}

.loading img {
    display: block;
    margin: 0 auto;
}

.loading:after {
    content: 'Por favor, aguarde...';
    position: absolute;
    width: 140px;
    margin-left: -70px;
    left: 50%;
    bottom: 5px;
    color: #026d79;
}

#attendance-opt {
    padding: 0;
    list-style: none;
}

#attendance-opt li {
    margin-right: 1px;
    float: left;
}

#attendance-opt li:last-child {
    margin-right: 0px;
}

.list-group {
    font-size: 13px;
    max-height: 179px;
    overflow: auto;
}

.list-group li:nth-child(2n) {
    background-color: #e6e6e6;
}

.class {
    font-size: 14px;
    border: 1px #e1e1e1 solid;
    border-radius: 5px;
    padding: 10px;
}

.class label {
    font-weight: bold;
}

.class .form-group:last-child {
    margin-bottom: 0;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ff2828;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #ff2828;
}

#main-container {
    margin-bottom: 50px;
}

.fa,
.fas {
    color: #6c5ce7;
}

.fa,
.fa:hover,
.fa:focus,
.fa:active,
.fa:visited
.fas,
.fas:hover,
.fas:focus,
.fas:active,
.fas:visited {
    color: #6c5ce7;
}

.w-5 {
    width: 5%;    
}

.w-10 {
    width: 10%;    
}

.w-15 {
    width: 15%;    
}

.w-20 {
    width: 20%;    
}

.w-25 {
    width: 25%;    
}

.w-30 {
    width: 30%;    
}

.w-35 {
    width: 35%;    
}

.w-40 {
    width: 40%;    
}

.w-45 {
    width: 45%;    
}

.w-50 {
    width: 50%;    
}

.w-55 {
    width: 55%;    
}

.w-60 {
    width: 60%;    
}

.w-65 {
    width: 65%;    
}

.w-70 {
    width: 70%;    
}

.w-75 {
    width: 75%;    
}

.w-80 {
    width: 80%;    
}

.w-85 {
    width: 85%;    
}

.w-90 {
    width: 90%;    
}

.w-95 {
    width: 95%;    
}

.w-100 {
    width: 100%;    
}

.text-center.vertical-spacing-5 {
    display: none;
}