@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
}

/* HEAD */

#main-title {
    background-color: #ecf0f1;
    padding: 15px 10px 15px;
}

#main-title h1 {
    font-size: 2rem;
    text-align: center;
}

/* USER BAR */

#user {
    background-color: #026d79;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 0;
}

#user #logout:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* MENU */

#menu {
    background-color: #04a2b3;
    margin-bottom: 50px;
}

#menu .nav a.nav-link {
    color: #ffffff;
}

#menu .nav a.nav-link:hover {
    background-color: #026d79;
}

/* LOGIN */

#login {
    background-color: #fff;
    border: 1px #ecf0f1 solid;
    margin: 100px auto 0;
    padding: 30px;
    width: 45%;
}

#login button {
    background-color: #04a2b3;
    border-color: #04a2b3;
    width: 100%;
}

#login button:hover {
    background-color: #026d79;
}

/* FILTER */

.filter {
    padding: 20px;
    border: 1px #ecf0f1 solid;
    border-radius: 5px;
    margin: 0 0 50px;
}

.filter .internal-content {
    margin-bottom: 30px;
}

.filter .filter-label {
    color: #828282;
    font-size: 13px;
    font-style: italic;
}

/* GENERAL */

.result-table {
    background-color: #fff;
    margin: 40px 0 0;
}

.bold {
    font-weight: bold;
}

.actions {
    font-size: 1.5em;
    text-align: right;
}

.details {
    border: 1px #ecf0f1 solid;
    padding: 10px;
    border-radius: 7px;
}

.has-error {
    border: 1px #ce1313 solid;
}

.help-block {
    color: #ce1313;
}

.btn-keep {
    color: #ffffff !important;
}

.subtitles {
    font-size: 12px;
}

.radio-inline {
    float: left;
    margin: .5rem;
}

.radio-inline:last-child {
    margin-right: 0;
}
  
.radio-inline label {
    font-weight: normal;
}