<div class="container-fluid">
  <div class="row form-group">
    <div id="page-title" class="col-sm-12">
      <h2>{{title}}</h2>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #teacherForm="ngForm">
    <!-- row 1 -->
    <div class="row form-group">
      <div class="col-sm-2">
        <label class="control-label" for="initials">Sigla</label>
        <input type="text" class="form-control" id="initials" name="initials" maxlength="4">
      </div>
      <div class="col-sm-2">
        <label class="control-label" for="period">Semestre</label>
        <select id="period" name="period" class="form-control">
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div class="col-sm-2">
        <label class="control-label" for="age">Ano</label>
        <select id="age" name="age" class="form-control">
          <option value="2018">2018</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label class="control-label" for="course">Curso</label>
        <select id="course" name="course" class="form-control">
          <option value="">Selecione o Curso...</option>
          <option value="12">Sistemas de Informação</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label class="control-label" for="course">Disciplina</label>
        <select id="course" name="course" class="form-control">
          <option value="">Selecione o Disciplina...</option>
        </select>
      </div>
    </div>
    <!-- row 2 -->
    <div class="row form-group">
      <div class="col-sm-12">
        <div class="row form-group">
          <div class="col-sm-6">
            <h5>Vincular Aluno(s)</h5>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-6">
          <input auto-complete id="model5" name="model5" placeholder="Start typing a hero name (min. 2 chars) ... for example: Hulk"
            [(ngModel)]="selectedStudent" [source]="findStudents" path-to-data="data.results" [list-formatter]="renderStudent"
            min-chars="2" />
        </div>
        <div class="col-sm-6">
          <a routerLink="vincular" class="btn btn-primary btn-keep">Vincular Aluno</a>
        </div>
      </div>
      <div class="col-sm-12">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th style="width: 20%;" scope="col">Matrícula</th>
              <th style="width: 60%;" scope="col">Nome</th>
              <th style="width: 20%;" scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let student of studentList'>
              <td>{{student.matricula}}</td>
              <td>{{student.nome}}</td>
              <td class="actions">
                <a class="fas fa-unlink" placement="bottom" ngbTooltip="Desvincular"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group clearfix" class="required-filter row form-group">
      <div class="col-sm-12 subtitles">
        <em>* Campo Obrigatório</em>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-6">
        <button type="button" class="btn btn-light" (click)="goBack()">Voltar</button>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-primary" (click)="teacherForm.reset()">Limpar</button>
        <button type="submit" class="btn btn-primary">{{labelBtn}}</button>
      </div>
    </div>
  </form>
</div>