<div class="container-fluid">
  <div class="row form-group">
    <div id="page-title" class="col-sm-12">
      <h2>{{title}}</h2>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #teacherForm="ngForm">
    <!-- row 1 -->
    <div class="row form-group">
      <div class="col-sm-2">
        <label class="control-label" for="initials">Sigla*</label>
        <input type="text" class="form-control" id="initials" name="initials" maxlength="5" [(ngModel)]="class.sigla" required>
      </div>
      <div class="col-sm-2">
        <label class="control-label" for="period">Semestre*</label>
        <select id="period" name="period" class="form-control" [(ngModel)]="class.semestre" required>
          <option *ngFor='let period of periodList' [value]="period.id">{{period.label}}</option>
        </select>
      </div>
      <div class="col-sm-2">
        <label class="control-label" for="age">Ano*</label>
        <select id="age" name="age" class="form-control" [(ngModel)]="class.ano">
          <option *ngFor='let age of ageList' [value]="age.id">{{age.label}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label class="control-label" for="course">Curso*</label>
        <select id="course" name="course" class="form-control" [(ngModel)]="class.curso.id" (change)="onChangeCourse();" required>
          <option *ngFor='let course of courseList' [value]="course.id">{{course.nome}}</option>
        </select>
      </div>
    </div>
    <!-- row 2 -->
    <div class="row form-group">
      <div class="col-sm-4">
        <label class="control-label" for="subject">Disciplina*</label>
        <select id="subject" name="subject" class="form-control" [(ngModel)]="class.disciplina.id" [(disabled)]="!class.curso.id"
          required>
          <option *ngFor='let subject of subjectList' [value]="subject.id">{{subject.nome}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label class="control-label" for="shift">Turno*</label>
        <select id="shift" name="shift" class="form-control" [(ngModel)]="class.turnoLetivo" required>
          <option *ngFor='let shift of shiftList' [value]="shift.id">{{shift.label}}</option>
        </select>
      </div>
    </div>
    <!-- row 3 -->
    <div class="row form-group">
      <div class="col-sm-12">
        <h5>Vincular Aluno(s)</h5>
      </div>
      <div class="row form-group col-sm-12">
        <div class="col-sm-4">
          <input auto-complete id="studentAc" name="studentAc" class="form-control" [(ngModel)]="selectedStudent" placeholder="Digite a matrícula do aluno (min. 3 caracteres)..."
            [source]="studentSource" no-match-found-text="A pesquisa não retornou registro(s)." list-formatter="matricula - nome"
            (blur)="alertService.clear();" display-property-name="nome" max-num-list="5" path-to-data="results" loading-text=""
            min-chars="3" autocomplete="off" />
        </div>
        <div class="col-sm-2">
          <button type="button" (click)="linkStudent();" class="btn btn-primary" [(disabled)]="!selectedStudent || !selectedStudent.id">Vincular Aluno</button>
        </div>
      </div>
      <div class="col-sm-12">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th style="width: 20%;" scope="col">Matrícula</th>
              <th style="width: 60%;" scope="col">Nome</th>
              <th style="width: 20%;" scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let student of class.alunosTurma'>
              <td>{{student.matricula}}</td>
              <td>{{student.nome}}</td>
              <td class="actions">
                <a href="javascript:void(0)" class="fas fa-unlink" placement="bottom" ngbTooltip="Desvincular" (click)="unlinkStudent(student.id);"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group clearfix" class="required-filter row form-group">
      <div class="col-sm-12 subtitles">
        <em>* Campo Obrigatório</em>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-6">
        <button type="button" class="btn btn-light" (click)="goBack()">Voltar</button>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-primary" (click)="teacherForm.reset()">Limpar</button>
        <button type="submit" class="btn btn-primary">{{labelBtn}}</button>
      </div>
    </div>
  </form>
</div>