<div class="container-fluid">
  <div id="titulo-pagina">
    <h1>Cursos</h1>
  </div>
  <div class="row">
    <div class="col-sm-12 text-right">
        <button type="button" class="btn btn-primary" (click)="open()">Incluir Curso</button>
    </div>
  </div>
  <div id="resultado">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>